/* You can add custom styles here. */

// @import "plugins/numbered";

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    padding-top:10px;
    font-weight: 600;
}
.resize {
    width: 50%;
    height: auto;
}

.float {
    float: left;
    position: relative;
}

.check-btn {
    background-color: green;
    color:white !important;
    font-weight:600;
    border: none !important;
    font-size:1.2em !important;
}

.skip-btn {
    border: black !important;
    background-color: yellow;
    color:black !important;
    font-weight:600;
    font-size:1.2em !important;
}

.reset-btn {
    border: none !important;
    color: red !important;
    font-size:0.8em !important;
}

.procedure {
    font-size:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom:20px;
    padding-top:20px;
    text-align:left;
}

.procedure h3 {
    text-transform: uppercase;
    font-weight: 700;
    text-align:center;
}

.procedure table {
    border-collapse: collapse;
    width: 100%;
    display:inline-table;
}

.procedure th,
td {
    text-align: left;
    padding: 8px;
}

.procedure-buttons {
    text-align:right;
}

// first td
.procedure td:first-child {
    text-align: left;
}

// Third td
.procedure td:nth-child(2) {
    text-align: left;
}

.procedure th {
    font-family: Arial, sans-serif;
}

// first th
.procedure th:first-child {
    max-width:10px;
    text-align: center;
}

// Third th
.procedure th:nth-child(2) {
    text-align: left;
}

.procedure th:nth-child(3) {
    text-align: left;
}


.procedure .checked {
    content: '\2714';
    font-size: 10px;
    color: white;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    border-color: #000;
}

.procedure .unchecked {
    content: '';
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    border-color: #000;
}

.procedure .skipped {
    content: '';
    font-size: 10px;
    color: white;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    background-color: yellow;
    border-color: #000;
}
.radio {
    font-size:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom:20px;
    padding-top:20px;
    text-align:left;
}

.radio h3 {
    text-transform: uppercase;
    font-weight: 700;
    text-align:center;
}

.radio table {
    border-collapse: collapse;
    width: 100%;
    display:inline-table;
}

.radio th,
td {
    text-align: left;
    padding: 8px;
}

.radio-buttons {
    text-align:right;
}

// first td
.radio td:first-child {
    text-align: left;
}

// Third td
.radio td:nth-child(2) {
    text-align: left;
}

.radio th {
    font-family: Arial, sans-serif;
}

// first th
.radio th:first-child {
    max-width:10px;
    text-align: center;
}

// Third th
.radio th:nth-child(3) {
    text-align: right;
}


.radio .checked {
    content: '\2714';
    font-size: 10px;
    color: white;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    border-color: #000;
}

.radio .unchecked {
    content: '';
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    border-color: #000;
}

.radio .skipped {
    content: '';
    font-size: 10px;
    color: white;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    background-color: yellow;
    border-color: #000;
}

.checklist {
    font-size:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom:20px;
    padding-top:20px;
    text-align:left;
}

.checklist h3 {
    text-transform: uppercase;
    font-weight: 700;
    text-align:center;
}

.checklist table {
    border-collapse: collapse;
    width: 100%;
    display:inline-table;
}

.checklist th,
td {
    text-align: left;
    padding: 8px;
}

.checklist-buttons {
    text-align:right;
}

// first td
.checklist td:first-child {
    text-align: center;
}

// Third td
.checklist td:nth-child(3) {
    text-align: right;
    text-transform: uppercase;
}

.checklist th {
    font-family: Arial, sans-serif;
}

// first th
.checklist th:first-child {
    max-width:10px;
    text-align: center;
}

// Third th
.checklist th:nth-child(3) {
    text-align: right;
}


.checklist .checked {
    content: '\2714';
    font-size: 10px;
    color: white;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    border-color: #000;
}

.checklist .unchecked {
    content: '';
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    border-color: #000;
}

.checklist .skipped {
    content: '';
    font-size: 10px;
    color: white;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    background-color: yellow;
    border-color: #000;
}

.selected {
    background-color: #627db8 !important;
    color: white;
}