/* You can add custom styles here. */

// @import "plugins/numbered";

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    padding-top:10px;
}
.resize {
    width: 50%;
    height: auto;
}

.float {
    float: left;
    position: relative;
}

.check-btn {
    background-color: green;
    color:white !important;
    font-weight:600;
    border: none !important;
    font-size:1em !important;
}

.skip-btn {
    border: none !important;
    background-color: yellow;
    color:black !important;
    font-weight:600;
    font-size:1em !important;
}

.reset-btn {
    border: none !important;
    color: red !important;
    font-size:1em !important;
}

.checklist {
    font-size:1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom:20px;
    padding-top:20px;
}

.checklist table {
    border-collapse: collapse;
    width: 100%;
    display:inline-table;
}

.checklist th,
td {
    text-align: left;
    padding: 8px;
}

// first td
.checklist td:first-child {
    text-align: center;
}

// Third td
.checklist td:nth-child(3) {
    text-align: right;
}

.checklist th {
    font-family: Arial, sans-serif;
}

// first th
.checklist th:first-child {
    max-width:10px;
    text-align: center;
}

// Third th
.checklist th:nth-child(3) {
    text-align: right;
}


.selected {
    background-color: #627db8 !important;
    color: white;
}

.checklist .checked {
    content: '\2714';
    font-size: 10px;
    color: white;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
}

.checklist .unchecked {
    content: '';
    font-size: 10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
}

.checklist .skipped {
    content: '';
    font-size: 10px;
    color: white;
    border-radius: 50%;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    vertical-align: middle;
    background-color: yellow;
}