<details>
    <summary>🛩️ {{ .Get 0 }} 🛩️</summary>
<div class="procedure" data-step="0">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Purpose</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $value := after 1 .Params }}
            <tr>
                {{ $split := split $value ":" }}
                <td>{{ add $index 1 }}</td>
                <td><i>{{ index $split 0 }}</i></td>
                <td>{{ index $split 1 }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
</details>