<details>
    <summary>📻 {{ .Get 0 }} 📻</summary>
<div class="radio" data-step="0">
    <table>
        <thead>
            <tr>
                <th>Intention</th>
                <th>Radio</th>
            </tr>
        </thead>
        <tbody>
            {{ range after 1 .Params }}
            <tr>
                {{ $split := split . ":" }}
                <td><i>{{ index $split 0 }}</i></td>
                <td>{{ index $split 1 }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
</details>